<html lang="en">
<head>
    <title>WikiNotes {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
    {{#body}}
        <li>{{sentence}}</li>
    {{/body}}
    </ul>
</body>